@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #212121;
  --primary-color: #0081A0;
  --secondary-color: #00375B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

.cs-container {
  max-width: 1320px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

svg {
  pointer-events: all;
}

#worldmap path {
  fill: #0081A0 !important;
  fill-opacity: 1 !important;
}

#worldmap .worldmap__region--hover {
  fill: #00375B !important;
}


#worldmap svg > g:not(:first-of-type) {
    display: none;
}
